@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body, button{
  background-color: black;
  font-family: 'VT323', monospace;
  color: white;
  font-size: 5vh;
  margin: 0;
  padding: 0;
}

button {
  border: solid white 0.5vh;
  padding: 1vw;
  width: min(30vw, 20vh);
  display:block;
  cursor:pointer;
}

a {
  color: white;
}